 <div class="container footer"
      fxLayout = "row"
      fxLayout.sm= "column"
      fxLayout.xs= "column"
      fxLayoutAlign.xs="start center" 
      fxLayoutAlign.sm="start center"
      fxLayoutAlign.gt-sm="center center"  
      fxLayoutWrap
      fxLayoutGap="10px">
    
    <div fxFlex="100%" fxFlex.gt-sm="50%">
      <div fxLayout="row">
        <div fxFlex="40" fxFlexOffset="20px">
          <h4>Links</h4>

          <mat-list>
            <mat-list-item><a mat-button>Home</a></mat-list-item>
            <mat-list-item><a mat-button>About</a></mat-list-item>
            <mat-list-item><a mat-button>Menu</a></mat-list-item>
            <mat-list-item><a mat-button>Contact</a></mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="50">
          <h4>Our Address</h4>
          <address style="text-size: 80%">
            "Bhagyodaya"3rd main<br> HemavathiNagar, Hassan<br>
            <i class="fa fa-phone"></i>:8970444935<br>
            <i class="fa fa-envelope"></i>:
            <a href="mmadan392@gmail.com">MadanKitchens</a>
          </address>
        </div>
      </div>

    </div>
    <div fxFlex="100%" fxFlex.gt-sm="45%">
      <div style="text-align: center">
        <a mat-icon-button class="btn-facebook fa fa-facebook" href="#"></a>
        <a mat-icon-button class="btn-twitter fa fa-twitter" href="#"></a>
        <a mat-icon-button class="btn-youtube fa fa-youtube" href="#"></a>
        
      </div>
    </div>
    
    <div fxFlex="100" fxFlexAlign="center center">
      <div style="text-align: center;">
        <p>Copyright 2018 @ Madans Kitchen</p>
      </div>
    </div>
    
    
    </div>                                                             