.footer{
    background-color:rgb(89, 111, 165);
    
}

.btn-facebook { color:#fff !important; background-color: #3b5998!important}
.btn-youtube { color:#fff !important; background-color: #ff4b39!important}
.btn-twitter { color:#fff !important; background-color: #55acee!important}
