<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex>
      <div>
        <h3>Menu</h3>
        <hr>
      </div>
    </div>
    <div fxFlex>
      <mat-grid-list cols="2" rowHeight="200px">
    
      <mat-grid-tile *ngFor="let dish of dishes" (click)="onSelect(dish)">
        <img mat-list-avatar src={{dish.image}} alt={{dish.name}}>
        <mat-grid-tile-footer>
       <h2 mat-line>{{dish.name | uppercase}}</h2>   
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  <app-dishdetails [dish]="selectedDish"></app-dishdetails>
  
</div>
 